In [27]:
import pandas as pd 
df = pd.read_csv("BooksDataSet.csv")
df

,Title,Authors,Description,Category,Publisher,Publish Date,Price
0,Goat Brothers,"By Colton, Larry",NaN,"History , General",Doubleday,"Friday, January 1, 1993",Price Starting at $8.79
1,The Missing Person,"By Grumbach, Doris",NaN,"Fiction , General",Putnam Pub Group,"Sunday, March 1, 1981",Price Starting at $4.99
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",NaN,"Cooking , Reference",Workman Pub Co,"Thursday, September 1, 1983",Price Starting at $4.99
3,When Your Corporate Umbrella Begins to Leak: A...,"By Davis, Paul D.",NaN,NaN,Natl Pr Books,"Monday, April 1, 1991",Price Starting at $4.99
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",NaN,NaN,Amy Spangler,"Saturday, February 1, 1997",Price Starting at $5.32
...,...,...,...,...,...,...,...
103077,Build 3 Super Serving Carts,By Chuck Hampton,NaN,NaN,ENDesigns Inc.,"Wednesday, January 1, 1992",Price Starting at $9.97
103078,My Land of Israel,"By Nover, Elizabeth Z.",NaN,"Juvenile Nonfiction , People & Places , Middl...",Behrman House,"Friday, May 1, 1987",Price Starting at $4.99
103079,Tongues: To Speak or Not to Speak,By Donald W. Burdick,NaN,NaN,Moody Press,"Wednesday, January 1, 1969",Price Starting at $5.29
103080,If I'm in charge here why is everybody laughing?,"By Campbell, David P.",NaN,NaN,Argus Communications,"Tuesday, January 1, 1980",Price Starting at $4.99
103081,Your First Puppy (Your First Series),"By Carpentier, Marcel",An introduction to the proper care of puppies ...,"Pets , Dogs , General",Tfh Pubns Inc,"Friday, November 1, 1991",Price Starting at $4.99

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index,Name       10 non-null     object
 1   Platform         4 non-null      float64
 2   Year_of_Release  4 non-null      object
 3   Genre            4 non-null      object
 4   Publisher        3 non-null      float64
 5   NA_Sales         3 non-null      object
 6   EU_Sales         3 non-null      object
 7   JP_Sales         0 non-null      float64
 8   Other_Sales      0 non-null      float64
 9   Global_Sales     0 non-null      float64
 10  Critic_Score     0 non-null      float64
 11  Critic_Count     0 non-null      float64
 12  User_Score       0 non-null      float64
 13  User_Count       0 non-null      float64
 14  Developer        0 non-null      float64
 15  Rating           0 non-null      float64
 16  Unnamed: 16      0 non-null      float64
 17  Unnamed: 17      0 non-null      float64
dtypes: float64(13), object(5)
memory usage: 1.5+ KB

In [28]:
df.describe()

,Title,Authors,Description,Category,Publisher,Publish Date,Price
count,103082,103082,70213,76912,103074,103082,103082
unique,97818,63580,68831,3106,13029,956,1387
top,The Nutcracker,By,For Ingest Only - Data needs to be cleaned up ...,"Fiction , General",Simon & Schuster,"Thursday, January 1, 2004",Price Starting at $5.29
freq,12,1043,30,2549,1521,868,41876

In [13]:
pd.set_option('display.float_format' , lambda x: '%.2f' % x)

In [29]:
df.describe()

,Title,Authors,Description,Category,Publisher,Publish Date,Price
count,103082,103082,70213,76912,103074,103082,103082
unique,97818,63580,68831,3106,13029,956,1387
top,The Nutcracker,By,For Ingest Only - Data needs to be cleaned up ...,"Fiction , General",Simon & Schuster,"Thursday, January 1, 2004",Price Starting at $5.29
freq,12,1043,30,2549,1521,868,41876

In [15]:
df.isnull().sum() #this isnull used to find the null data and .sum() used to find the some of the null data

index,Name          0
Platform            6
Year_of_Release     6
Genre               6
Publisher           7
NA_Sales            7
EU_Sales            7
JP_Sales           10
Other_Sales        10
Global_Sales       10
Critic_Score       10
Critic_Count       10
User_Score         10
User_Count         10
Developer          10
Rating             10
Unnamed: 16        10
Unnamed: 17        10
dtype: int64

In [16]:
df.nunique() #this will find the unique values

index,Name         10
Platform            4
Year_of_Release     4
Genre               3
Publisher           3
NA_Sales            2
EU_Sales            2
JP_Sales            0
Other_Sales         0
Global_Sales        0
Critic_Score        0
Critic_Count        0
User_Score          0
User_Count          0
Developer           0
Rating              0
Unnamed: 16         0
Unnamed: 17         0
dtype: int64

In [32]:
df.sort_values(by="Publish Date")  #sort based on the column name

,Title,Authors,Description,Category,Publisher,Publish Date,Price
40126,American Wonderland,"By Bache, Richard Meade",NaN,NaN,"Claxton, Remsen and Haffelfinger",December 1870,Price Starting at $8.85
7041,House Beautiful Entertaining,"By Gropp, Louis Oliver (EDT), Kennedy, Margare...",House Beautiful has collected more than 140 of...,"Cooking , Entertaining",Hearst Books,December 1899,Price Starting at $8.79
55623,The Wood Finisher's Handbook,"By Allen, Sam","Introduces finishing tools and materials, show...","Crafts & Hobbies , Woodwork",Sterling Pub Co Inc,December 1899,Price Starting at $4.99
2375,Complete Book of Birdhouses and Feeders,"By Russo, Monica and Dewire, Robert",Line drawings supplement detailed descriptions...,"Technology & Engineering , General",Sterling Pub Co Inc,December 1899,Price Starting at $4.99
415,500 Full-Size Patchwork Patterns,"By Malone, Maggie",Provides templates for making traditional patc...,"Art , General",Sterling Pub Co Inc,December 1899,Price Starting at $5.29
...,...,...,...,...,...,...,...
87499,Hope Unseen: The Story of the U.S. Army's Firs...,"By Smiley, Scotty and Crandall, Doug (CON)","The inspiring, unflinching true story of â€œblin...","Religion , Leadership",Howard Books,"Wednesday, September 1, 2010",Price Starting at $4.99
89956,The Seventeen Second Miracle,"By Wright, Jason F.",From the New York Times bestselling author of ...,"Fiction , Christian , General",Berkley,"Wednesday, September 1, 2010",Price Starting at $14.98
87495,Big Girls Don't Cry: The Election that Changed...,"By Traister, Rebecca","REBECCA TRAISTER, whose coverage of the 2008 p...","Political Science , Political Process , Campa...",Free Press,"Wednesday, September 1, 2010",Price Starting at $4.99
87410,Bloody Crimes: The Chase for Jefferson Davis a...,"By Swanson, James L.","""A brilliant narrative that keeps the reader s...","History , United States , Civil War Period (1...",William Morrow,"Wednesday, September 1, 2010",Price Starting at $5.63
87474,Immanuel's Veins,"By Dekker, Ted",This story is for everyone--but not everyone i...,"Fiction , Christian , Suspense",Thomas Nelson Inc,"Wednesday, September 1, 2010",Price Starting at $4.99

In [38]:
df.sort_values(by="Publish Date",ascending=True) #sort based on the column and head will just get the top once

,Title,Authors,Description,Category,Publisher,Publish Date,Price
40126,American Wonderland,"By Bache, Richard Meade",NaN,NaN,"Claxton, Remsen and Haffelfinger",December 1870,Price Starting at $8.85
7041,House Beautiful Entertaining,"By Gropp, Louis Oliver (EDT), Kennedy, Margare...",House Beautiful has collected more than 140 of...,"Cooking , Entertaining",Hearst Books,December 1899,Price Starting at $8.79
55623,The Wood Finisher's Handbook,"By Allen, Sam","Introduces finishing tools and materials, show...","Crafts & Hobbies , Woodwork",Sterling Pub Co Inc,December 1899,Price Starting at $4.99
2375,Complete Book of Birdhouses and Feeders,"By Russo, Monica and Dewire, Robert",Line drawings supplement detailed descriptions...,"Technology & Engineering , General",Sterling Pub Co Inc,December 1899,Price Starting at $4.99
415,500 Full-Size Patchwork Patterns,"By Malone, Maggie",Provides templates for making traditional patc...,"Art , General",Sterling Pub Co Inc,December 1899,Price Starting at $5.29
...,...,...,...,...,...,...,...
87499,Hope Unseen: The Story of the U.S. Army's Firs...,"By Smiley, Scotty and Crandall, Doug (CON)","The inspiring, unflinching true story of â€œblin...","Religion , Leadership",Howard Books,"Wednesday, September 1, 2010",Price Starting at $4.99
89956,The Seventeen Second Miracle,"By Wright, Jason F.",From the New York Times bestselling author of ...,"Fiction , Christian , General",Berkley,"Wednesday, September 1, 2010",Price Starting at $14.98
87495,Big Girls Don't Cry: The Election that Changed...,"By Traister, Rebecca","REBECCA TRAISTER, whose coverage of the 2008 p...","Political Science , Political Process , Campa...",Free Press,"Wednesday, September 1, 2010",Price Starting at $4.99
87410,Bloody Crimes: The Chase for Jefferson Davis a...,"By Swanson, James L.","""A brilliant narrative that keeps the reader s...","History , United States , Civil War Period (1...",William Morrow,"Wednesday, September 1, 2010",Price Starting at $5.63
87474,Immanuel's Veins,"By Dekker, Ted",This story is for everyone--but not everyone i...,"Fiction , Christian , Suspense",Thomas Nelson Inc,"Wednesday, September 1, 2010",Price Starting at $4.99

In [ ]:
import pandas as pd 
print(pd.__version__)